---
import MainHead from '@components/MainHead.astro';
import Navbar from '@components/Nav/Navbar';
import Button from '@components/Button/Button';
import Footer from '@components/Footer/Footer';
import CardPreview from '@components/CardPreview/CardPreview';

const posts = await Astro.glob('../pages/blog/**/*.md');
const projects = await Astro.glob('../pages/projects/**/*.md');
const featuredProject = projects[0];
const featuredPost = posts[0];
---

<html lang="en">
	<head>
		<MainHead title="Adonay Rodriguez: Personal Site" />
		<style>
			.home-hero {
				position: relative;
				overflow: hidden;
			}

			@media (min-width: 360px) {
				.home-hero {
					height: 70vw;
				}
			}
			@media (min-width: 750px) {
				.home-hero {
					height: 42vw;
				}
			}

			.img {
				display: block;
				width: 100%;
			}
			.gradient,
			.gradient2 {
				background-image: url('/assets/mesh-gradient.jpg');
				background-size: cover;
				pointer-events: none;
				mix-blend-mode: screen;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
			.gradient2 {
				mix-blend-mode: multiply;
				background-size: cover;
			}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-left: 2rem;
			}
			@media (min-width: 750px) {
				.overlay {
					padding-left: 4rem;
				}
			}

			.home-button {
				display: flex;
				justify-content: center;
				text-decoration: none;
			}
			.home-title {
				font-weight: 900;
				font-size: var(--f-u8);
				margin-bottom: 0.5rem;
				margin-top: 0;
			}
			@media (min-width: 750px) {
				.home-title {
					font-size: var(--f-u12);
				}
			}
			.grid {
				display: grid;
				grid-gap: 2rem;
			}
			@media (min-width: 1200px) {
				.grid {
					grid-template-columns: 2fr 1fr;
				}
			}
			.sectionTitle {
				font-weight: 700;
				font-size: var(--f-u8);
				margin-top: 4rem;
				margin-bottom: 2rem;
			}
			.role {
				position: relative;
				display: inline-block;
				font-weight: 900;
				color: var(--t-bg);
				background-color: var(--t-fg);
				padding: 0.25em 0.5em;
				z-index: 2;
			}
			@media (min-width: 750px) {
				.role {
					font-size: var(--f-u3);
				}
			}
			.role + .role {
				margin-left: 1em;
			}
			.role:nth-of-type(1) .invert {
				background-color: var(--c-white);
			}
			.role:nth-of-type(2) .invert {
				background-color: var(--c-blue);
			}
			.role:nth-of-type(3) .invert {
				background-color: var(--c-green);
			}
			.role:hover .invert {
				clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
			}
			.invert {
				position: absolute;
				color: var(--t-fg);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
				transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
			}
			.desc {
				font-size: var(--f-u2);
				margin-top: 1.5rem;
				margin-bottom: 0;
			}
			.home-subtitle {
				display: block;
				font-weight: 400;
				font-size: var(--f-d6);
				letter-spacing: -0.0625em;
			}
			.bio {
				line-height: 2;
				margin-bottom: 2rem;
			}
			.bio > span:first-of-type {
				line-height: 1;
				margin-bottom: 0.5em;
				display: block;
				font-weight: 700;
				font-size: var(--f-u4);
			}
		</style>
	</head>
	<body class="container">
		<Navbar />
		<header class="home-hero">
			<img
				width="1600"
				height="1131"
				class="img"
				src="../../../assets/astronauta.png"
				sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2400px) 2400px, 1200px"
			/>
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="home-title">
					<small class="home-subtitle">The personal site of</small>Adonay
					Rodriguez
				</h1>
				<div>
					<span class="role"
						>🧑‍💻 Software Engineer <span class="invert">Developer</span>
					</span>&nbsp;
				</div>
				<p class="desc"></p>
			</div>
		</header>
		<main class="wrapper mt4 mb4">
			<div class="grid">
				<div class="section">
					<h3 class="sectionTitle">Selected Work</h3>
					<CardPreview
						url={'/projects/' + featuredProject.frontmatter.slug}
						img={featuredProject.frontmatter.img}
						date={featuredProject.frontmatter.date}
						tags={featuredProject.frontmatter.tags}
						date={featuredProject.frontmatter.date}
						description={featuredProject.frontmatter.description}
					/>
					<a href="/projects" class="home-button">
						<Button>View All Projects</Button>
					</a>
					<h3 class="sectionTitle">Blog</h3>
					<CardPreview
						url={'/blog/' + featuredPost.frontmatter.slug}
						img={featuredPost.frontmatter.img}
						date={featuredPost.frontmatter.date}
						tags={featuredPost.frontmatter.tags}
						date={featuredPost.frontmatter.date}
						description={featuredPost.frontmatter.description}
					/>
					<a href="/blog" class="home-button">
						<Button>View Blog</Button>
					</a>
					<div class="tac mt4"></div>
				</div>
				<div class="section">
					<h3 class="sectionTitle">About me</h3>
					<p class="bio">
						<span>Hello!</span> I’m Adonay, and this is my website. It was made using{
							' '
						}
						<a
							href="https://github.com/withastro/astro"
							target="_blank"
							rel="nofollow"
						>
							Astro
						</a>, a new way to build static sites. This is just an example
						template for you to modify.
					</p>
					<p>
						<a href="/about">Read more</a>
					</p>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
