---
import BlogLayout from '../layouts/BlogLayout.astro';
import CardPreview from '../components/CardPreview/CardPreview';

const projects = await Astro.glob('../pages/projects/**/*.md');
const sortedPosts = projects
	.filter((projects) => !!projects.frontmatter.date)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.date).valueOf() -
			new Date(a.frontmatter.date).valueOf()
	);
---

<BlogLayout title="Blog">
	<section>
		<div class="container">
			{
				sortedPosts.map((projects) => (
					<CardPreview
						url={'/projects/' + projects.frontmatter.slug}
						img={projects.frontmatter.img}
						date={projects.frontmatter.date}
						title={projects.frontmatter.title}
						tags={projects.frontmatter.tags}
						date={projects.frontmatter.date}
						description={projects.frontmatter.description}
					/>
				))
			}
		</div>
	</section>
</BlogLayout>
