---
import BlogLayout from '@layouts/BlogLayout.astro';
import CardPreview from '@components/CardPreview/CardPreview';

const posts = await Astro.glob('../pages/blog/**/*.md');
const sortedPosts = posts
	.filter((post) => !!post.frontmatter.date)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.date).valueOf() -
			new Date(a.frontmatter.date).valueOf()
	);
---

<BlogLayout title="Blog">
	<section>
		<div class="container">
			{
				sortedPosts.map((post) => (
					<CardPreview
						url={'/blog/' + post.frontmatter.slug}
						img={post.frontmatter.img}
						date={post.frontmatter.date}
						tags={post.frontmatter.tags}
						date={post.frontmatter.date}
						description={post.frontmatter.description}
					/>
				))
			}
		</div>
	</section>
</BlogLayout>
